$jetsgreen: #00a954;
// $jetsyellow: #ffd700;
$jetsyellow: #fff77d;
$gradyellow: #ff0;
$newlightgreen: #66bb6a;
$newdarkgreen: #2e7d32;
$backgroundgray: #777;
$black: #000;
$white: #fff;
$machinered: #cf4b4b;


// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
//Hero Banner
.hero-banner {
  background-image: url('../images/trackpic3.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 800px;
}

.hero-headings {
  color: $machinered;
  font-family: 'Reem Kufi', sans-serif;
  font-size: 50px;
  font-weight: bold;
  
  h1 {
    padding-top: 50px;
  }
}

.hero-desc {
  @extend .hero-headings;
  font-size: 20px;
  padding-top: 0;
}

.hero-btn {
  @extend .hero-desc;
  background-color: $black;
  width: 200px;

  a {
    color: $machinered;
    font-size: 20px;
    padding: 6px;
    text-decoration: none;
  }
  span {
    color: $white;
  }
}
//Jets Page Nav and Hero
.new-nav {
  background-color: darken($jetsyellow, 10%);
  border-radius: 10%;
  font-family: 'Coda',sans-serif;
  height: 600px;
  margin-top: 30px;
  opacity: .5;
  width: 800px;

  span {
    color: $jetsgreen;
  }

  h1 {
    left: 20px;
    position: relative;
    top: 10px;
  }

  p {
    left: 20px;
    padding-bottom: 30px;
    position: relative;
    text-align: left;
    top: 30px;
    width: 650px;
  }
}

.on-hover {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
}

.icon-wrap {
  position: relative;

  img {
    display: block;
    float: left;
    height: 100px;
  }

  a {
    color: $backgroundgray;
    display: inline;
    font-size: 30px;
    text-decoration: none;
  }

  p {
    display: inline;
    width: 350px;
  }

  &:hover .on-hover {
    display: inline-block;
    visibility: visible;
  }
}

.new-jets-page::before {
  content: '';
  left: 0;
  position: fixed;
  right: 0;
  z-index: -1;

  background-image: url('../images/cf1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 800px;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.new-jets-page{
  left: 0;
  position: fixed;
  right: 0;
  z-index: 0;
}
// .wrapper {
//   background-image: linear-gradient($backgroundgray, $black);
//   background-size: cover;
//   height: 1500px;
//   width: 100%;
// }

.navbar {
  background-color: $jetsyellow;
  border: 0;
  margin-bottom: 0;
}

.jets-brand,
.footer-text {
  color: $backgroundgray;
  font-family: 'Ubuntu', cursive;
  font-size: 30px;


  &:hover {
    color: $jetsyellow;
  }
}

//Track Background
.bkg-pages::before {
  content: '';
  left: 0;
  position: fixed;
  right: 0;
  z-index: -1;

  background-image: url('../images/trackpic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 800px;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

//Track background and TrackIt app design
.bkg-pages{
  left: 0;
  position: relative;
  right: 0;
  z-index: 0;

  p {
    color: $jetsyellow;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    text-align: left;
  }

  label {
    color: $jetsyellow;
  }

  button {
    margin: auto;
  }
}

.navbar-right {
  a {
    display: inline-block;
    float: right;
  }
}


.new-navlist,
.jets-button {
  background-image: linear-gradient($newlightgreen, $newdarkgreen);
  border: 1px solid $jetsgreen;
  border-radius: 1px;
  color: $jetsyellow;
  display: inline-block;
  float: left;
  font-family: 'Ubuntu', cursive;
  font-size: 20px;
  font-weight: bold;
  height: 45px;
  line-height: 18px;
  list-style: none;
  margin-left: 25px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  text-align: center;
  text-decoration: none;
  width: 250px;

  a {
    color: $jetsyellow;
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  &:hover {
    color: $backgroundgray;
    list-style-type: none;
    text-decoration: none;
    text-overflow: none;
  }

  &:click {
    text-decoration: none;
  }

}

//Coaches Page
.coaches-menu {
  h1 {
    margin-bottom: 20px;
    text-align: left;
  }

  button {
    text-align: center;
  }
}

.coach-homepage {
  li {
    list-style-type: none;
    text-align: center;
  }

  button {
    margin: auto;
  }
}

.glyphicon-plane {
  color: $jetsgreen;
}

.homepage-links {
  a {
    color: $jetsyellow;
    font-family: 'Ubuntu', cursive;
    text-decoration: none;

    &:hover {
      color: $jetsgreen;
    }
  }
}

.homepage-title {
  color: $jetsgreen;
  font-family: 'Ubuntu', cursive;
  text-align: center;
  text-decoration: none;
}

.coach-headings {
  color: $jetsyellow;
  // font-family: 'Permanent Marker', cursive;
  font-family: 'Ubuntu', cursive;
  text-align: center;
}

//Photos
.jetspics {
  height: 400px;
  padding-top: 40px;
  width: 1000px;

  img {
    margin: auto;
  }

}
//Schedule
.jets-map {
  padding: 60px;
}

.schedule-event {
  color: $black;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  line-height: 30px;
  list-style: disc;

  a {
    color: $jetsgreen;
    text-decoration: none;

    &:hover {
      font-size: 18px;
    }

  }
}

//Athletes

.athlete-list,
.results-list {
  li {
    color: $white;
    list-style: none;
    text-align: center;
  }
}

//Footer

.footer {
  background-color: $jetsyellow;
  border: 0;
  bottom: 0;
  height: 50px;
  position: fixed;
  width: 100%;
}

.footer-text {
  padding-left: 10px;
  padding-top: 10px;

  &:hover {
    color: currentColor;
  }
}
