$jetsgreen: #00a954;
// $jetsyellow: #ffd700;
$jetsyellow: #fff77d;
$gradyellow: #ff0;
$newlightgreen: #66bb6a;
$newdarkgreen: #2e7d32;
$backgroundgray: #777;
$black: #000;
$white: #fff;
$machinered: #cf4b4b;
$trackitgray: #cccdc7;
$profilegray: #282c34;
$profilegray2: #7b7b7b;


// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

//Hero Banner
.hero-banner {
  background-image: url('../images/trackpic3.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 800px;

  li {
    list-style: none;
  }
}

.hero-headings {
  color: $machinered;
  font-family: 'Reem Kufi', sans-serif;
  font-size: 70px;
  font-weight: bold;

  h1 {
    padding-top: 50px;
  }
}

.hero-info {
  color: $black;
}

.hero-desc {
  @extend .hero-headings;
  color: $white;
  font-size: 40px;
  padding-top: 0px;
}

.trackit-logo {
  color: $black;
  font-style: italic;
}

.trackit-logo2 {
  color: $trackitgray;
  font-style: italic;

  &:hover {
   color: $machinered;
   list-style-type: none;
   text-decoration: none;
   text-overflow: none;
   transition: .5s;
  }

     &:click {
       color: $backgroundgray;
       text-decoration: none;
  }
}

.hero-btn {
  float: right;
  font-size: 30px;
  margin-left: 15px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;

  @media screen and (max-width: 480px) {
    float: left;;
  }
}

.hero-btn,
.new-navlist,
.jets-button {
  @extend .hero-desc;
  background-color: lighten($black, 10%);
  // border: 1px solid $machinered;
  box-shadow: 2px 2px 20px $black;
  border-radius: 5px;
  color: $machinered;
  // box-shadow: 10px 5px 5px $black;
  font-size: 20px;
  width: 200px;

  &:hover {
    color: $trackitgray;
    list-style-type: none;
    text-decoration: none;
    text-overflow: none;
    transition: .5s;
     }

  a {
    color: $machinered;
    font-size: 20px;
    text-decoration: none;
    vertical-align: middle;

    &:hover {
       color: $trackitgray;
       list-style-type: none;
       text-decoration: none;
       text-overflow: none;
       transition: .5s;
    }

       &:click {
         color: $backgroundgray;
         text-decoration: none;
    }
  }
}
//Used to line up buttons on pages
.btn-list {
  li {
    display: inline;
    float: left;
    list-style-type: none;
  }
}
//Jets Page Nav and Hero
.new-nav {
  background-color: darken($jetsyellow, 10%);
  border-radius: 10%;
  display: inline-block;
  font-family: 'Coda',sans-serif;
  height: 600px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-top: 30px;
  opacity: .5;
  width: 800px;

  @media screen and (max-width: 480px) {
    background-color: transparent;
  }

  span {
    color: $jetsgreen;
  }

  h1 {
    left: 20px;
    // position: relative;
    top: 10px;
  }

  p {
    left: 20px;
    padding-bottom: 30px;
    position: relative;
    text-align: left;
    top: 30px;
    width: 650px;
  }
}

.on-hover {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
}

.icon-wrap {
  position: relative;

  img {
    display: inline-block;
    float: left;
    height: 100px;
    padding-bottom: 25px;
    max-width: 100%;
  }

  a {
    color: $backgroundgray;
    display: inline;
    font-size: 30px;
    text-decoration: none;
  }

  p {
    color: $jetsgreen;
    display: inline;
    width: 350px;

    @media screen and (max-width: 480px) {
      color: $white;
      visibility: visible;
    }
  }

  &:hover .on-hover {
    display: inline;
    visibility: visible;
  }
}

.nav-icons {
  li {
    list-style-type: none;
    padding-bottom: 25px;
  }
}

.new-jets-page::before {
  content: '';
  left: 0;
  position: fixed;
  right: 0;
  z-index: -1;

  background-image: url('../images/cf1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 800px;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.new-jets-page{
  left: 0;
  position: relative;
  right: 0;
  z-index: 0;
}
// .wrapper {
//   background-image: linear-gradient($backgroundgray, $black);
//   background-size: cover;
//   height: 1500px;
//   width: 100%;
// }

.navbar {
  background-color: $jetsyellow;
  border: 0;
  margin-bottom: 0;
}

.jets-brand,
.footer-text {
  color: $backgroundgray;
  font-family: 'Ubuntu', cursive;
  font-size: 30px;


  &:hover {
    color: $jetsyellow;
  }
}

//Track Background
.bkg-pages::before {
  content: '';
  left: 0;
  position: fixed;
  right: 0;
  z-index: -1;

  background-image: url('../images/trackpic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 800px;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

//Track background and TrackIt app design
.bkg-pages{
  left: 0;
  position: relative;
  right: 0;
  z-index: 0;

  label {
    color: $white;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 16px;
  }

  button {
    margin: auto;
  }
}

.navbar-right {
  a {
    display: inline-block;
    float: right;
  }
}

//old jets buttons code
// .new-navlist,
// .jets-button {
//   background-image: linear-gradient($newlightgreen, $newdarkgreen);
//   border: 1px solid $jetsgreen;
//   border-radius: 1px;
//   color: $jetsyellow;
//   display: inline-block;
//   float: left;
//   font-family: 'Ubuntu', cursive;
//   font-size: 20px;
//   font-weight: bold;
//   height: 45px;
//   line-height: 18px;
//   list-style: none;
//   margin-left: 25px;
//   padding-left: 10px;
//   padding-right: 10px;
//   padding-top: 12px;
//   text-align: center;
//   text-decoration: none;
//   width: 250px;
//
//   a {
//     color: $jetsyellow;
//     text-decoration: none;
//
//     &:hover {
//       color: $backgroundgray;
//       list-style-type: none;
//       text-decoration: none;
//       text-overflow: none;
//     }
//
//     &:click {
//       color: $backgroundgray;
//       text-decoration: none;
//     }
//   }
//
//   li {
//     list-style: none;
//   }
//
//   &:hover {
//     color: $backgroundgray;
//     list-style-type: none;
//     text-decoration: none;
//     text-overflow: none;
//   }
//
//   &:click {
//     color: $backgroundgray;
//     text-decoration: none;
//   }
//
// }

//Coaches Page
.coaches-menu {
  h1 {
    margin-bottom: 20px;
    // text-align: center;
  }

  button {
    display: block;
    margin: 0 auto;
  }

  li {
    list-style-type: none;
    margin-top: 15px;
  }
}

.coach-homepage {
  li {
    list-style-type: none;
    text-align: center;
  }

  button {
    margin: auto;
  }
}

.glyphicon-plane {
  color: $jetsgreen;
}


.homepage-title {
  color: $machinered;
  font-family: 'Reem Kufi', sans-serif;
  text-align: center;
}

.coach-headings {
  color: $white;
  // font-family: 'Permanent Marker', cursive;
  font-family: 'Reem Kufi', sans-serif;
  text-align: center;
}

.contact-us {
  color: $jetsyellow;
  font-family: 'Reem Kufi', sans-serif;
  font-size: 20px;
  text-align: left;
}
//Sign up and sign in
.loginform {
  background-color: $profilegray2;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 90px;
  opacity: .8;
  padding: 10px;

  ul {
    margin-top: 10px;
  }

  li {
    float: left;
    margin-top: 10px;
    padding-bottom: 10px;
  }

  button {
    display: block;
    margin: 0 auto;
  }
}

//Photos
.jetspics {
  height: 400px;
  padding-top: 40px;
  width: 1000px;

  img {
    margin: auto;
  }

}
//Schedule
.jets-map {
  padding: 60px;
}

.schedule-event {
  color: $black;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  line-height: 30px;
  list-style: disc;

  a {
    color: $jetsgreen;
    text-decoration: none;

    &:hover {
      font-size: 18px;
    }

  }
}

.well {
  background-color: $jetsyellow;
}
//Athletes

.athlete-list,
.results-list {
  li {
    color: $white;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 16px;
    list-style: none;
    text-align: center;
  }
}

.entry-btn {
  display: block;
  margin: 0 auto;

  li{
    float: left;
    margin-top: 15px;
  }
}
//Footer

.footer {
  background-color: $jetsyellow;
  border: 0;
  bottom: 0;
  height: 50px;
  position: fixed;
  width: 100%;
}

.footer-text {
  padding-left: 10px;
  padding-top: 10px;

  &:hover {
    color: currentColor;
  }
}
//Profiles
.upload-photo {
  color: $white;
  margin-left: 15px;
  padding-top: 20px;
}

//change cursor on hover
.fulllistprofileview {
  cursor: pointer;
}

.profile-btns {
  float: left;

  li {
    margin-left: 15px;
    margin-top: 15px;
  }
}

.athlete-entry-btn {
  li {
    margin-top: 15px;
  }

  span {
    color: $white;
  }
}

.singleathletecaption,
.caption {
  background-color: $white;
  color: $machinered;
  margin: 0;
  text-align: center;

  span {
    color: $machinered;
  }
}

.thumbnail {
  background-color: lighten($black, 10%);
  border: 0;
  box-shadow: 10px 10px 30px $profilegray;
  font-family: 'Reem Kufi', sans-serif;
  margin-top: 15px;

  span {
    color: $machinered;
  }
}

.thumbnail-pic {
  display: block;
  height: 300px;
  margin: 0 auto;
  width: 300px;
}

.thumbnail-pic-wrap {
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 10px;
  width: 300px;
}

.athlete-results {
  background-color: $profilegray2;
  box-shadow: 10px 10px 30px $profilegray;
  color: $white;
  margin-top: 15px;
  opacity: .8;

  li {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 14px;
  }
}
//Profile Pic
.profile-pic-field {
  cursor: pointer;
  font-size: 25px;

  img {
    color: $black;
    height: 75px;
  }
}

.pic-input {
  height: .01 px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: .01 px;
  z-index: -1;
}

.profile-icon {
  color: $white;
  font-size: 40px;
}
