$jetsgreen: #00a954;
$jetsyellow: #ffd700;
$backgroundgray: #777;
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.wrapper {
  background: rgb(181, 189, 200);
  background: -webkit-linear-gradient(top,  rgba(181, 189, 200,1) 0%,rgba(130, 140, 149, 1) 36%,rgba(40,52,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(181, 189, 200, 1) 0%,rgba(130, 140, 149, 1) 36%,rgba(40,52,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: 800px;
}

.jets-brand {
  color: $jetsyellow;
  font-family: 'Permanent Marker', cursive;
}

.new-navlist {
  background-image: linear-gradient($jetsyellow, yellow);
  border-radius: 5px;
  color: $jetsgreen;
  display: inline-block;
  float: left;
  font-family: Impact,sans-serif;
  font-size: 25px;
  height: 50px;
  list-style-type: none;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  text-align: center;
  text-decoration: none;
  width: 200px;

  a {
    text-decoration: none;
  }

  &:hover {
    color: $backgroundgray;
    list-style-type: none;
    text-decoration: none;
    text-overflow: none;
  }

}

.glyphicon-plane {
  color: $jetsgreen;
}

.homepage-links {
  a {
    color: $jetsyellow;
    font-family: fantasy;
    text-decoration: none;

    &:hover {
      color: $jetsgreen;
    }
  }
}

.homepage-title {
  color: $jetsgreen;
  font-family: fantasy;
  text-decoration: none;

}
