$jetsgreen: #00a954;
// $jetsyellow: #ffd700;
$jetsyellow: #fff77d;
$gradyellow: #ff0;
$newlightgreen: #66bb6a;
$newdarkgreen: #2e7d32;
$backgroundgray: #777;
$black: #000;
$white: #fff;


// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.wrapper {
  background-image: linear-gradient($backgroundgray, $black);
  background-size: cover;
  height: 1000px;
}

.jets-brand {
  color: $backgroundgray;
  // font-family: 'Permanent Marker', cursive;
  font-family: 'Coda', cursive;

  &:hover {
    color: $jetsyellow;
  }
}

.new-navlist {
  background-image: linear-gradient($newlightgreen, $newdarkgreen);
  border: 1px solid $jetsgreen;
  border-radius: 1px;
  color: $jetsyellow;
  display: inline-block;
  float: left;
  font-family: 'Coda', cursive;
  font-size: 20px;
  font-weight: bold;
  height: 45px;
  line-height: 18px;
  list-style-type: none;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  text-align: center;
  text-decoration: none;
  width: 250px;

  a {
    text-decoration: none;
  }

  &:hover {
    color: $backgroundgray;
    list-style-type: none;
    text-decoration: none;
    text-overflow: none;
  }

  &:click {
    text-decoration: none;
  }

}

.glyphicon-plane {
  color: $jetsgreen;
}

.homepage-links {
  a {
    color: $jetsyellow;
    font-family: 'Coda', cursive;
    text-decoration: none;

    &:hover {
      color: $jetsgreen;
    }
  }
}

.homepage-title {
  color: $jetsgreen;
  font-family: 'Coda', cursive;
  text-decoration: none;

}

.coach-headings {
  color: $jetsyellow;
  // font-family: 'Permanent Marker', cursive;
  font-family: 'Coda', cursive;
  text-align: center;
}

.jetspics {
  padding-top: 40px;

  img {
    height: 600px;
    width: 1075px;
  }
}

.schedule-event {
  color: $white;
  font-size: 16px;
  line-height: 30px;
  list-style: disc;

  a {
    color: $jetsgreen;
    text-decoration: none;

    &:hover {
      color: $jetsyellow;
    }

  }
}
